
*~
cache
figure
*.aux
*.Rout
*.out
*.blg
*.log
*.toc
ms.pdf
si.pdf
response.pdf
data/old*
data/*statistics.rds
supplement/*.toc
supplement/sup.tex
supplement/*.synctex.gz
*.bbl
*.synctex.gz
*.bbl
*-concordance.tex
*.zip
