
*~
cache
figure
*.aux
*.Rout
*.out
*.blg
*.log
*.toc
data/old*
data/*statistics.rds
supplement/*.toc
supplement/sup.tex
supplement/*.synctex.gz
*.bbl
*.synctex.gz
*.bbl
*-concordance.tex
*.zip
.venv
.slurm_vars
.vscode
**__pycache__
oup-authoring-template
oup-authoring-template.cls
**.html
**.pkl